/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$backgroundColor: #2A9D8F;
$font-color: #E76F51;
$accentColor: #264653;
$secondaryAccentColor: #E9C46A;
$fontFamily: "Poppins, sans-serif !important";


body {
  color: $font-color;
  background-color: $secondaryAccentColor;
  font-family: $fontFamily;
  overflow-x: hidden;

}

a {
  color: $accentColor;

  &:hover {
    color: $secondaryAccentColor;
  }
}

.title {
  text-transform: uppercase;
}

.img-custom {
  width: 325px;
  height: 200px;
  &:hover {
  opacity: 100%;
  transform: scale(1.1);
  transition: transform .3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }

}

