/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$backgroundColor: #8A9DAE;
$font-color: #00121f;
$accentColor: #C08C56;
$secondaryAccentColor: #61472B;
$fontFamily: "Poppins, sans-serif";


body {
  color: $font-color;
  background-color: $backgroundColor;
  font-family: $fontFamily;
  overflow-x: hidden;
}

a {
  color: $accentColor;

  &:hover {
    color: $secondaryAccentColor;
  }
}

.title {
  text-transform: uppercase;
}



.img-custom {
  width: 325px;
  height: 200px;
  &:hover {
  transform: scale(1.1);
  transition: transform .3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }

}

